<app-banner [data]="imageNames"></app-banner>

<div class="info-block">
  <div class="store-locations">
    <h2>STORE LOCATION</h2>
    <div class="info">
      <p>2141 ADMIN BLOCK</p>
      <p>KATLEHONG</p>
      <p>JOHANNESBURG</p>
      <a href="" class="get-directions">Get Directions</a>
    </div>
  </div>
  <div class="trading-hours">
    <h2>TRADING HOURS</h2>
    <div class="info">
      <div class="time-block">
        <p>MONDAY</p>
        <p>09:00 - 17:00</p>
      </div>
      <div class="time-block">
        <p>TUESDAY</p>
        <p>09:00 - 17:00</p>
      </div>
      <div class="time-block">
        <p>WEDNESDAY</p>
        <p>09:00 - 17:00</p>
      </div>
      <div class="time-block">
        <p>THURSDAY</p>
        <p>09:00 - 17:00</p>
      </div>
      <div class="time-block">
        <p>FIRDAY</p>
        <p>09:00 - 17:00</p>
      </div>
      <div class="time-block">
        <p>SATURDAY</p>
        <p>09:00 - 17:00</p>
      </div>
      <div class="time-block">
        <p>SUNDAY &amp; HOLIDAYS</p>
        <p>09:00 - 15:00</p>
      </div>
    </div>
  </div>
</div>
