@import "../variables.scss";

#content {
  max-width: 100vw;
  &.admin {
    margin-top: 0px;
    margin-left: $navbar-width;
  }
  &.user {
    margin-top: $navbar-height;
    margin-left: 0px;
    margin-bottom: $navbar-height;
  }
  #main-content {
    padding-bottom: 20px;
    &.admin {
      padding: 20px;
    }
  }
}
