<div class="container">
  <h2>Service Management</h2>
  <div class="controls">
    <app-search (search)="search($event)"></app-search>
    <button class="add-btn" (click)="addService()">
      <span class="material-symbols-outlined"> add </span>
    </button>
  </div>
  <table *ngIf="filteredServices !== undefined">
    <thead>
      <tr>
        <th>Service Category Name</th>
        <th>Service Category Description</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let service of filteredServices; let i = index"
        [class.dark]="i % 2 === 1"
      >
        <td>{{ service.serviceCategoryName }}</td>
        <td>{{ service.serviceCategoryDescription }}</td>

        <td class="icon" (click)="viewService(service.serviceCategoryId)">
          <span class="material-symbols-outlined"> visibility </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
