<div class="container">
    
    <h2>Promotion details</h2>
    <div class="add-product-modal" *ngIf="!loading">
      <h2>{{ updating ? "Update Promotion" : "Add Promotion" }}</h2>
      <p>Please enter the new promotion details:</p>
      <form [formGroup]="addServiceForm">
        <div class="row">
          <label for="">Promotion Name:</label>
          <div class="input">
            <input type="datetime" name="" id="" formControlName="name" />
          </div>
        </div>
        <div class="row">
          <label for="">Promotion Description:</label>
          <div class="input">
            <textarea name="" id="" formControlName="desc"></textarea>
          </div>
        </div>
        <div class="row">
          <label for="">Promotion Image</label>
          <div class="input">
            <img
              #image
              class="upload-image"
              *ngIf="file !== undefined"
              src="{{ imgUrl }}"
              (click)="fileInput.click()"
            />
            <button
              class="upload-image-button"
              (click)="fileInput.click()"
              *ngIf="file === undefined"
            >
              Upload Promotion Image
            </button>
            <input
              style="display: none"
              type="file"
              name=""
              id=""
              (change)="updateFile($event)"
              [formEnctype]="'multipart/form-data'"
              accept="image/*"
              #fileInput
            />
          </div>
        </div>
        <div class="row">
          <label for="cat">Promotion Category</label>
          <div class="input">
            <select
              name="cat"
              id="cat"
              (change)="categoryChange($event)"
              formControlName="cat"
            >
              <option
                *ngFor="let cat of categories"
                value="{{ cat.serviceCategoryId }}"
              >
                {{ cat.serviceCategoryName }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <label for="cat">Promotion Type</label>
          <div class="input">
            <select name="type" id="type" formControlName="type">
              <option
                *ngFor="let type of filteredTypes"
                value="{{ type.serviceTypeId }}"
              >
                {{ type.serviceTypeName }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <label for="">Promotion start:</label>
          <div class="input">
            <input type="date" name="" id="" formControlName="durationMin" />
          </div>
        </div>
        <div class="row">
          <label for="">Promotion end:</label>
          <div class="input">
            <input type="date" name="" id="" formControlName="durationMax" />
          </div>
        </div>
        <div class="row">
          <label for="">Promotion Discount:</label>
          <div class="input">
            <input type="number" placeholder="0.00" required name="price" min="0" value="0" step="0.01" name="" id="" formControlName="price" />
          </div>
        </div>
        <div class="row btns">
          <button class="btn" (click)="close()">Cancel</button>
          <button
            class="btn gold"
            (click)="addProduct()"
            [disabled]="!addServiceForm.valid || file === undefined"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
  