<div class="container">
    <h2>Notification Management</h2>
    <div class="controls">
      <button class="add-btn" (click)="add()">
        <span class="material-symbols-outlined"> add </span>
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Subject</th>
          <th>Recepient</th>
          <th>Status</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of lst; let i = index"
          [class.dark]="i % 2 === 1"
        >
          <td>{{ product.productId }}</td>
          <td>{{ product.productName }}</td>
          <td>
          </td>
          <td>
            
          </td>
          <td class="icon" (click)="view(product.productId)">
            <span class="material-symbols-outlined"> visibility </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>